.rowContainer {
    padding: 0.5rem;
    border: solid 2px transparent;
}

.rowContainer, .lettersContainer {
    display: grid;
    column-gap: 1rem;
    align-items: center;
}

.rowContainer.editing {
    border: solid 2px #3a3a3c;
}

.rowButtons > * {
    margin: 0 0.5rem 0 0.5rem;
}

.rowButtons > button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
